.ld-custom-name {
    color: #55aa55;
}

.ld-custom-name:visited {
    color: #55aa55;
}

.ld-custom-button-container {
    transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
    background-color: #333333;
    color: #ffffff;
}

.ld-custom-button-container:hover {
    transform: scale(1.02);
}

.ld-custom-button {
    transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.ld-custom-background-layer {
    background-color: #343434;
}